{% extends 'base.html' %}


{% block body %}
<div class="frst">
    <div class="inf1">
        <p class="kyt">Куток</p>0
        <p class="inf2">Вільний майданчик, на <br> якому обговорюють ігри,<br>кіно, аніме, розробку,<br> технології та ще багато <br>чого.</p>
        <div class="one_m">
            <p class="sign_up">Реєстрація</p>
            <P class="log_in">Увійти</P>
        </div>
    </div>
    <div class="pok">
        <p class="many">Головна</p>
        <p class="many">Редакція</p>
        <p class="many">Теґи</p>
        <p class="many">Збережене</p>
        <p class="many">Проєкти</p>
        <p class="many">Подкасти</p>
        <p class="many">Бейджи</p>

        <p class="som"><b>Інше</b></p>
        <p class="many">Про сайт</p>
        <p class="many">Норми поведінки</p>
        <p class="many">Політика <br>конфіденційності</p>
        <p class="many">Правила</p>
        <p class="many">Як писати</p>
    </div>
</div>
<div class="sec">
    <div class="but">
        <p class="inf3"><b>Релевантні</b></p>
        <p class="inf3">Нові</p>
        <p class="inf3">Популярні</p>
    </div>
    <div class="inf4">
        <img src="https://res.cloudinary.com/kutok/image/fetch/s--LYZsLHkZ--/c_limit,f_auto,fl_progressive,h_1080,q_auto,w_1000/https://kutok.s3.amazonaws.com/uploads/articles/8xikxdvtw2tgp5jy4unq.jpg" class="img1">
        <div class="lflf">
            <div class="inf5">
                <div class="smaller">
                    <p class="smal"><b>Ternox</b> для <b>Редакція</b> <br><span class="even_sm">гру 8, 15:28</span></p>

                </div>
                <p class="som2"> Закріплено</p>
            </div>
            <p class="butt_">Усі анонси з The Game Awards 2023</p>
            <p class="smal" id="some_inf">#
                ігри
                #
                новини
                #
                tga2023</p>
        </div>
    </div>
</div>
<div class="thir">
    <img src="https://res.cloudinary.com/kutok/image/fetch/s--Z1u4ZWcn--/c_limit,f_auto,fl_progressive,q_auto,w_500/https://kutok.s3.amazonaws.com/uploads/articles/dvcybyq3pbqhg2kv9z3i.jpg" class="img2">
    <div class="inf6">
        <p class="text1">Розкажіть про свою гру з<br> тегом #моягра (12)</p>
        <p class="text2">STFP+ на Indie Cup Ukraine '23</p>
        <p class="text2">Анонс 1ої гри про Голодомор Famine<br> Way</p>
        <p class="text2">5 хвилин геймплею Сон Забутих Пісень<br> +демо-версія</p>
        <p class="text2">Налови світлячків — гра на Unreal<br> Engine 5</p>
        <p class="text2">Menace from the Deep</p>

    </div>
</div>
{% endblock %}