{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block header %}
<header>
    <div class="head_">
        <div class="headd">
            <div class="search">
                <p class="head_p">Куток</p>
                <div class="inp_text">
                <input placeholder="Пошук..." type="text">
                </div>
            </div>
            <div class="add">
                <p class="add_dopus"></p>
                
            </div>
    </div>
    </div>
</header>
{% endblock %}
{% block body %}

{% endblock %}